<div class="highlight-box">
    <div class="highlight-box-title">Apps</div>
    <hr>
    <ul>      
      <li><a href="{{ site.baseurl }}/apps/unitytips-museum" target="_blank">#unitytips Museum</a></li>   
      <li><a href="{{ site.baseurl }}/apps/arc-8" target="_blank">ARC-8 Blazor (CHIP-8 emulator)</a></li>  
      <li><a href="{{ site.baseurl }}/apps/triangle-classifier" target="_blank">Triangle Classifier</a></li> 
      <li><a href="{{ site.baseurl }}/apps/geneticsharp-runner-blazorapp" target="_blank">GeneticSharp Runner BlazorApp</a></li>
      <li><a href="{{ site.baseurl }}/apps/maurer-rose" target="_blank">Maurer Rose</a></li>      
    </ul>
</div>