<style>     
</style>
<div class="portifolio-slideshow" >     
     <div class="portifolio-slide">
          <a href="https://play.google.com/store/apps/details?id=br.com.diegogiacomelli.puzzimals">
               {% images games/puzzimals/images/header.png %}                   
               <i>Play my new mobile game, a tile-matching game with cute graphics and challenging puzzles.</i> 
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://play.google.com/store/apps/details?id=br.com.diegogiacomelli.puzzimals">
               {% images games/puzzimals/images/logo.png %}                  
               <i>Play my new mobile game, a tile-matching game with cute graphics and challenging puzzles.</i> 
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://play.google.com/store/apps/details?id=br.com.diegogiacomelli.puzzimals">
               {% images games/puzzimals/images/horizontal-screenshot-02.png.thumb.jpg %}                    
               <i>Play my new mobile game, a tile-matching game with cute graphics and challenging puzzles.</i> 
          </a>
     </div>     
</div>

<script>
  var slides = document.getElementsByClassName("portifolio-slide");
  var slideIndex = Math.floor(Math.random() * slides.length);
  slides[slideIndex].style.display = "block"; 
</script>