<style>     
</style>
<div class="portifolio-slideshow" >
     <!-- <div class="portifolio-slide">
          <a href="https://github.com/giacomelli/GeneticSharp">     
               <img src="https://github.com/giacomelli/GeneticSharp/raw/master/docs/logo/logo-small.png">
               A fast, extensible, multi-platform and multithreading C# Genetic Algorithm library that simplifies the development of applications using Genetic Algorithms (GAs).
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/skahal/SpaceInvadersRemake">     
               <img src="https://github.com/skahal/SpaceInvadersRemake/raw/master/docs/images/Alien2.png">
               SIR, a Space Invaders Remake that I and my friend <a href="http://giusepe.com">Giusepe Casagrande</a> built in Unity3D.
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/skahal/Buildron">     
               <img src="https://github.com/skahal/Buildron/raw/master/docs/images/Buildron-logo-128x128.png">
               Buildron, a continuous integration radiator by Skahal Studios built using Unity3D
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/giacomelli/HarSharp">
               <div>HarSharp</div>
               A small and easy-to-use library to parse HTTP Archive (HAR) format to .NET objects
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="{{ site.baseurl }}GeneticSharp-Car2D">
               {% screenshot 2018/06/01/GeneticSharp-Car2D/SimulationGrid.png %}
               GeneticSharp Car2D, an Unity3D sample for GeneticSharp where a genetic algorithm tries to design 2D cars to overcome roads challenges
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://play.google.com/store/apps/details?id=br.com.diegogiacomelli.geneticsharprunnersunityapp">               
          {% icon google-play-badge.png %}
          GeneticSharp Unity3d Samples on Google Play
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/giacomelli/Doog">
               <div>Doog</div>
               A framework to create console/terminal games, but using advanced game programming patterns
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/giacomelli/DocsByReflection">
               <div>DocsByReflection</div>
               Discover the code documentation at runtime by reflection
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="http://diegogiacomelli.com.br/games/ships-n-battles">
               {% images games/ships-n-battles//images/logoiOS.png %}
               <i>"There's been a few attempts at making battleship games for the platform, as you’d expect. None are as good as Ships N' Battles."</i> (Matt Sainsbury)
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="http://diegogiacomelli.com.br/games/ships-n-battles">
               {% images games/ships-n-battles/images/2_iPad_01.png %}     
               <i>"Ships N' Battles is a battleships game for iOS and Mac with impressive 3D graphics and updated gameplay."</i> (Connor Jones)
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="http://diegogiacomelli.com.br/games/ships-n-battles">
               {% images games/ships-n-battles/images/header.png %}     
               <i>"Ships N' Battles is a gorgeous looking game"</i> (Martin Baker)
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="http://diegogiacomelli.com.br/games/puzzlord">
               {% images games/puzzlord/images/logoAndroid.png %}  
               <div>Puzzlord</div>   
               <i>An one-man project. The whole game design, Unity development and C# programming were done by me.</i> 
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="http://diegogiacomelli.com.br/games/puzzlord">
               {% images games/puzzlord/images/header.png %}   
               <div>Puzzlord</div>     
               <i>An one-man project. The whole game design, Unity development and C# programming were done by me.</i> 
          </a>
     </div> -->
     <div class="portifolio-slide">
          <a href="https://play.google.com/store/apps/details?id=br.com.diegogiacomelli.puzzimals">
               {% images games/puzzimals/images/header.png %}                   
               <i>Play my new mobile game, a tile-matching game with cute graphics and challenging puzzles.</i> 
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://play.google.com/store/apps/details?id=br.com.diegogiacomelli.puzzimals">
               {% images games/puzzimals/images/logo.png %}                  
               <i>Play my new mobile game, a tile-matching game with cute graphics and challenging puzzles.</i> 
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://play.google.com/store/apps/details?id=br.com.diegogiacomelli.puzzimals">
               {% images games/puzzimals/images/horizontal-screenshot-02.png.thumb.jpg %}                    
               <i>Play my new mobile game, a tile-matching game with cute graphics and challenging puzzles.</i> 
          </a>
     </div>     
</div>

<script>
  var slides = document.getElementsByClassName("portifolio-slide");
  var slideIndex = Math.floor(Math.random() * slides.length);
  slides[slideIndex].style.display = "block"; 
</script>