<style>
     .portifolio-slideshow {
          border-color: black;
          border-width: 1px;
          border-style: dotted;
          padding: 10px;
          margin-bottom: 10px;
          width: 118%;
     }
     .portifolio-slide {
          display: none;
     }
     .portifolio-slide a {
          text-decoration: none;          
     }

     .portifolio-slide a img {
          max-width: 128px;
          margin:auto;
          margin-bottom:5px;          
     }

     .portifolio-slide a h2 {
          margin:0;          
     }
</style>
<div class="portifolio-slideshow" >
     <div class="portifolio-slide">
          <a href="https://github.com/giacomelli/GeneticSharp">     
               <img src="https://github.com/giacomelli/GeneticSharp/raw/master/docs/logo/logo-small.png">
               A fast, extensible, multi-platform and multithreading C# Genetic Algorithm library that simplifies the development of applications using Genetic Algorithms (GAs).
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/skahal/SpaceInvadersRemake">     
               <img src="https://github.com/skahal/SpaceInvadersRemake/raw/master/docs/images/Alien2.png">
               SIR, a Space Invaders Remake that I and my friend <a href="http://giusepe.com">Giusepe Casagrande</a> built in Unity3D.
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/skahal/Buildron">     
               <img src="https://github.com/skahal/Buildron/raw/master/docs/images/Buildron-logo-128x128.png">
               Buildron, a continuous integration radiator that I and my friend <a href="http://giusepe.com">Giusepe Casagrande</a> built using Unity3D
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://skahal.github.io/press/kit/snb/index.html">
               <img src="https://skahal.github.io/press/kit/snb/images/2_iPad_01.png">     
               Ships N' Battles, an <a href="https://itunes.apple.com/us/app/ships-n-battles-hd/id510480132?mt=8">iOS</a>, <a href="https://play.google.com/store/apps/details?id=com.skahal.shipsnbattles">Android</a> and <a href="https://itunes.apple.com/pt/app/ships-n-battles/id531527189?mt=12">Mac</a> game that I and my friend <a href="http://giusepe.com">Giusepe Casagrande</a> built using Unity3D
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/giacomelli/HarSharp">
               <h2>HarSharp</h2>
               A small and easy-to-use library to parse HTTP Archive (HAR) format to .NET objects
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="{{ site.baseurl }}GeneticSharp-Car2D">
               {% screenshot 2018/06/01/GeneticSharp-Car2D/SimulationGrid.png %}
               GeneticSharp Car2D, an Unity3D sample for GeneticSharp where a genetic algorithm tries to design 2D cars to overcome roads challenges
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://play.google.com/store/apps/details?id=br.com.diegogiacomelli.geneticsharprunnersunityapp">               
          {% logo google-play-badge.png default %}
          GeneticSharp Unity3d Samples on Google Play
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/giacomelli/Doog">
               <h2>Doog</h2>
               A framework to create console/terminal games, but using advanced game programming patterns
          </a>
     </div>
     <div class="portifolio-slide">
          <a href="https://github.com/giacomelli/DocsByReflection">
               <h2>DocsByReflection</h2>
               Discover the code documentation at runtime by reflection
          </a>
     </div>
</div>

<script>
  var slides = document.getElementsByClassName("portifolio-slide");
  var slideIndex = Math.floor(Math.random() * slides.length);
  slides[slideIndex].style.display = "block"; 
</script>