<div class="highlight-box">
    <div class="highlight-box-title">See too</div>
    <hr>
    <ul>
      <li><a href="https://github.com/{{ site.footer-links.github }}">GitHub</a></li>
      <li><a href="https://www.twitter.com/{{ site.footer-links.twitter }}">Twitter</a></li>
      <li><a href="https://youtube.com/{{ site.footer-links.youtube }}">YouTube</a></li>    
      <li><a href="{{ site.baseurl }}/open-source">Open source</a></li>      
      <li><a href="{{ site.baseurl }}/stats">Stats</li>
      <li><a href="{{ site.baseurl }}/status">Status</a></li>      
    </ul>
</div>