<div class="highlight-box">
    <div class="highlight-box-title">See too</div>
    <hr>
    <ul>
      <li><a href="https://github.com/{{ site.footer-links.github }}" aria-label="My GitHub account">GitHub</a></li>
      <li><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" aria-label="My Twitter account">Twitter</a></li>
      <li><a href="https://youtube.com/{{ site.footer-links.youtube }}" aria-label="My YouTube channel">YouTube</a></li>    
      <li><a href="{{ site.baseurl }}/open-source" aria-label="My opens source projects">Open source</a></li>      
      <li><a href="{{ site.baseurl }}/stats" aria-label="Site statistics">Stats</a></li>
      <li><a href="{{ site.baseurl }}/status" aria-label="Site status">Status</a></li>      
      <li><a href="{{ site.baseurl }}/privacy-policy" aria-label="Site privacy policy">Privacy Policy</a></li>  
    </ul>
</div>