<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ site.description }}</title>
    {% include meta.html %}
    {% include resources-begin.html %}       
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <nav class="greedy">
            <a href="{{ site.baseurl }}/" class="site-avatar" title="{{ site.name }} | {{ site.description }}">{% images assets/avatar-transparent.png %}</a>
            <ul class='links'>
              <li><a href="{{ site.baseurl }}/" class="menu-item">Posts</a></li>
              <li><a href="{{ site.baseurl }}/games" class="menu-item">Games</a></li>
              <li><a href="{{ site.baseurl }}/about" class="menu-item">About</a></li>
              <li><a href="https://github.com/giacomelli" class="menu-item" title="Follow me on GitHub"><i class='fab fa-github'></i></a></li>
              <li><a href="https://twitter.com/ogiacomelli" class="menu-item" title="Follow me on Twitter"><i class='fab fa-twitter'></i></a></li>
              <li><a href="https://www.reddit.com/user/{{ site.footer-links.reddit }}" class="menu-item" title="Follow me on Reddit" ><i class="fab fa-reddit"></i></a></li>
              <li><a href="https://youtube.com/{{site.footer-links.youtube }}" class="menu-item" title="Follow me on YouTube"><i class='fab fa-youtube'></i></a></li>
              <li><a href="{{ site.footer-links.discord }}" class="menu-item" title="Join my Discord server"><i class='fab fa-discord'></i></a></li>   
              <li><a href="mailto:{{ site.footer-links.email }}" class="menu-item" title="Send me an e-mail"><i class='fas fa-envelope-square'></i></a></li>      
            </ul>
            <button aria-label="Hidden button"><i class="fas fa-bars"></i></button>
            <ul class='hidden-links hidden'></ul>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      <div class="content-container">
        {{ content }}
      </div>
      <div class="right-bar-container">
          <!-- {% include portifolio-box-ad.html %}           -->
          {% include ad.html %}
          {% include search-input.html %}
          {% include games-box.html %}
          {% include apps-box.html %}
          {% include resources-box.html %}
          {% include tools-box.html %}
          {% include sites-box.html %}     
          {% include highlight-box.html title="Tutorials" posts=site.posts category="Tutorial" %}
          <!-- {% include highlight-box.html title="News" posts=site.posts category="News" %} -->
          {% include highlight-box.html title="Articles" posts=site.posts category="Article" %}
          {% include highlight-box.html title="Labs" posts=site.posts category="Lab" %}
          {% include see-too-box.html %}
      </div>
  </div>
  
    <footer class="footer">
        {% include svg-icons.html %}
    </footer>
    {% include resources-end.html %}
    {% include analytics.html %}    
  </body>
</html>