<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ site.description }}</title>
    {% include meta.html %}
    {% include resources-begin.html %}
    {% include share-buttons.html %}
   
    <script data-ad-client="ca-pub-4531139417583317" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>  
    <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>    
  </head>

  <body>
    <amp-auto-ads type="adsense" data-ad-client="ca-pub-4531139417583317"></amp-auto-ads>
    
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <nav class="greedy">
            <a href="{{ site.baseurl }}/" class="site-avatar" title="{{ site.name }} | {{ site.description }}""><img src="{{ site.baseurl}}/assets/avatar-transparent.png" /></a>
            <ul class='links'>
              <li><a href="{{ site.baseurl }}/" class="menu-item">Posts</a></li>
              <li><a href="{{ site.baseurl }}/about" class="menu-item">About</a></li>
            </ul>
            <button><i class="fas fa-bars"></i></button>
            <ul class='hidden-links hidden'></ul>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      <div class="content-container">
        {{ content }}
      </div>
      <div class="right-bar-container">
          {% include portifolio-box-ad.html %}
          <a class="github-button" href="https://github.com/giacomelli" aria-label="Follow @giacomelli on GitHub">Follow @giacomelli</a> 
          <a href="https://twitter.com/ogiacomelli" class="twitter-follow-button" data-show-count="false">Follow @ogiacomelli</a>
          {% include search-input.html %}
          {% include highlight-box.html title="Tutorials" posts=site.posts category="Tutorial" %}
          {% include highlight-box.html title="News" posts=site.posts category="News" %}
          {% include highlight-box.html title="Articles" posts=site.posts category="Article" %}
          {% include highlight-box.html title="Labs" posts=site.posts category="Lab" %}
          {% include see-too-box.html %}
      </div>
  </div>
  
    <footer class="footer">
        {% include svg-icons.html %}
    </footer>
    {% include resources-end.html %}
    {% include analytics.html %}
    {% include lazy-load.html %}
  </body>
</html>
